:root {
  --mdc-theme-primary: #000000;
  --mdc-theme-secondary: #676767;
  --mdc-theme-background: #fff;
  font-size: 16px;
}

html {}

html.dark:root {
  background: rgb(33, 33, 33);
}

body {
  color: black;
  background-color: white;
  padding: 0px;
  margin: 0px;
  font-family: Roboto;
  overflow: hidden;
  /* user-select: none; */
  background-color: #ffffff;
}

body div {
  /* color:inherit; */
  /* background-color: inherit; */
  /*cursor: none !important;*/
}

body span {
  /*cursor: none !important;*/
}

body input {
  /*cursor: none !important;*/
}

body.top-bar-menu {}

body.top-bar-back {}

body.top-bar-neutral {}

.top-app-bar-title {
  font-size: .8em;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 600;
  text-overflow: unset;
  overflow: visible;
}

/* When top app bar is on screen with no back button or menu*/
body.top-bar-menu.top-bar-back.top-bar-neutral #top-app-btn-menu,
body.top-bar-menu.top-bar-back.top-bar-neutral #top-app-btn-back {
  display: none;
  background: unset;
  border: none;
}

body.top-bar-menu.top-bar-back.top-bar-neutral .top-app-bar-title {}

body.top-bar-menu.top-bar-back #top-app-btn-back {
  margin-right: -13px;
  font-size: 2rem;
}

#primary-snackbar {
  z-index: 10000000;
  bottom: 57px;
}

.mdc-snackbar .mdc-snackbar__surface.error {
  background-color: #F44336;
  color: white;
}

.mdc-snackbar .mdc-snackbar__surface.success {
  background-color: #03A9F4;
  color: white;
}

.climate-card {
  background: white;
  position: fixed;
  height: 100vh;
  z-index: 100;
  padding: 24px;
  /* text-align: center; */
  width: calc(100% - 48px);
  padding-top: 0px;
  text-align: center;
  padding-top: 0rem;
  /* z-index: 10000; */
  max-height: 100vh;
  overflow: scroll;
  padding-top: 56px;
}

.climate-card .mdc-typography--subtitle1.data-info {
  margin-bottom: 1.4rem !important;
  /* padding-top:0px !important; */
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2;
  color: #424242;
  display: none;
}

.climate-card .climate-info .label {
  color: #808080;
}

.climate-card-info {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(46%, 3fr));
  width: 80%;
  height: 60px;
  color: black;
  font-size: 20px;
}

.climate-info {
  z-index: 1;
  /* position: relative; */
  /* display: block; */
  color: black;
  /* padding-top: 15px; */
  font-size: 1.1em;
  font-weight: 400;
  text-transform: capitalize;
  /* text-align: left; */
  /* padding-left: 26px; */
}

.climate-data[climate-name="f"] {
  /* color:orange; */
}

.climate-display .climate-data {
  /* position: relative; */
  /* top: 7px; */
}

.climate-data[climate-name="h"] {
  /* color:#03A9F4; */
  /* color: black; */
}

.climate-info.humidity:after {
  /* content:"x"; */
  /* width:5px; */
  /* height:20px; */
  /* background:black; */
  /* display:block; */
}

#set-temp-slider {
  margin: 15px 0px;
  width: 84%;
  margin-left: auto;
  margin-right: auto;
  max-width: 680px;

}

.climate-display {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(48%, 3fr));
  width: 170px;
  /* padding-left: 20px; */
  background: #f6f6f6;
  position: absolute;
  left: 0px;
  bottom: 0px;
  /* clip-path: polygon(0 0, 100% 0%, 78% 100%, 0 100%); */
  /* clip-path: polygon(0% 0%, 100% 0%, 93% 100%, 7% 100%); */
  /* clip-path: none; */
  width: 180px;
  height: 50px;
  bottom: 20%;
  background: #f6f6f6;
  margin: auto;
  right: 0px;
  text-align: center;
  position: fixed;
  bottom: 38px;
  z-index: 100;
  /* background: black; */
  color: white;
  box-shadow: 0px -2px 0px -1.5px #BDBDBD inset;
  overflow: visible;
  background: none;
  white-space: nowrap;
  white-space: nowrap;
  font-size: 16px;
  overflow-y: hidden;
  width: -webkit-fill-available;
  bottom: unset;
  background: white;
  clip-path: none;
  padding: 5px;
  top: 56px;
  padding-top: 16px;
  padding-top: 42px;
  box-shadow: rgb(234, 234, 234) 0px -5px 2px -4.5px inset, rgb(234, 234, 234) 0px 4px 2px -4.5px inset;
  background: #fdfdfd;
  box-shadow: none;
  background: white;
}

.climate-display:before {
  content: " ";
  display: block;
  /* box-shadow: 0px 1px 0px 4px #03A9F4; */
  width: 100%;
  height: 50px;
  position: absolute;
  background: #f6f6f6;
  /* z-index: 0; */
  clip-path: polygon(0% -20%, 112% 0%, 94% 100%, 0% 110%, 0% 110%);
  /* box-shadow: 0px -1px 0px 0px #eaeaea inset, 0px 2px 0px -1px #ffffff inset, 15px 0px 0px -18px black inset; */
  border-radius: 4px;
  clip-path: polygon(0 85%, 100% 85%, 92% 100%, 6% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 20%, 100% 80%, 86% 114%, 8% 110%, 0% 80%, 0% 20%);
  clip-path: polygon(0 0, 100% 0, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
  clip-path: polygon(0 0, 100% 0, 100% 34%, 102% 60%, 89% 100%, 11% 100%, -1% 62%, 0% 20%);
  clip-path: polygon(100% 0, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0 0);
  clip-path: polygon(100% 0, 100% 80%, 90% 100%, 10% 100%, 0% 80%, 0 0);
  display: none;
}

.climate-display:after {
  content: " ";
  display: block;
  box-shadow: 0px 1px 0px 4px #f6f6f6, 0px 1px 0px 14px #d2d2d2;
  width: 102%;
  height: 50px;
  position: absolute;
  /* background: white; */
  z-index: -2;
  clip-path: polygon(0% 0%, 100% 0%, 92% 96%, 7% 96%);
  background: #f6f6f6;
  left: -1%;
  top: 5px;
  /* clip-path: polygon(0 0, 100% 0, 100% 19%, 100% 80%, 91% 100%, 9% 100%, 0% 80%, 0% 20%); */
  /* clip-path: polygon(0 0, 100% 0, 100% 20%, 100% 90%, 31% 100%, 9% 100%, 0 89%, 0% 20%); */
  clip-path: polygon(0 0, 100% 0, 100% 36%, 99% 60%, 89% 100%, 10% 99%, -1% 60%, 18% 20%);
  clip-path: polygon(100% 90%, 91% 100%, 9% 100%, 0 89%);
  clip-path: polygon(108% 60%, 90% 101%, 15% 101%, -1% 70%);
  clip-path: polygon(100% 0, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0 0);
  clip-path: polygon(100% 0, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0 0);
  clip-path: polygon(100% 0, 100% 80%, 90% 100%, 10% 100%, 0% 80%, 0 0);
  clip-path: polygon(100% 0, 100% 0, 90% 100%, 10% 100%, 0 0, 0 0);
  background: #f6f6f6;
  lip-path: polygon(100% 0, 100% 80%, 90% 100%, 10% 100%, 0% 80%, 0 0);
  clip-path: polygon(100% 0, 100% 80%, 90% 100%, 10% 100%, 0% 80%, 0 0);
  display: none;
}

.climate-display .climate-info {
  padding-top: 0px;
  /* font-weight: 300; */
}

.climate-display .climate-info.farenheight:after {
  content: "temp.";
  display: block;
  font-size: 10px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2;
  opacity: .7;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2;
  opacity: .5;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2;
  opacity: .6;
}

.climate-display .climate-info.humidity:after {
  content: "humid.";
  display: block;
  font-size: 10px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2;
  opacity: .6;
  /* position: relative; */
  /* top: -36px; */
}

body.visual .climate-display .climate-info:after {
  color: white !important;
  position: relative;
  top: 3px;
}

body.visual .climate-display {
  opacity: .7 !important;
}

body.visual .climate-display .climate-data {
  font-weight: 100;
}

.climate-icon {
  position: relative;
  font-size: .6em;
  top: -.4rem;
  left: 1px;
  font-weight: 4500;
}

.climate-icon[name="h"] {}

.climate-icon[name="f"] {
  /* margin-left: -9px; */
}

.climate-card {
  transform: translate(0%, 100%) matrix(1, 0, 0, 1, 0, 0);
  transform: translate(0%, -124vh) matrix(1, 0, 0, 1, 0, 0);
}

.climate-card-info {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, [col] 100px);
  grid-template-rows: repeat(auto-fill, [row] auto);
  background-color: #fff;
  color: #444;
}

.knob {
  height: 60vw;
  width: 60vw;
  border-radius: 200px;
  border: 2px solid #757575;
  margin: auto;
  /* background: white; */
  top: 12px;
  position: relative;
  box-shadow: 0px 0px 0px 4px #eaeaea;
  /* background: white; */
  display: none;
}

.knob span {
  top: 0px;
  position: relative;
  font-weight: 100;
  background: #FF9800;
  color: #ff9e00;
  width: 6px;
  height: 24px;
  font-size: 15px;
  display: inline-block;
  pointer-events: none;
}

.main.heating-room #current-temp-knob {
  background: #ffc249;
}

.main.heating-room #control-knob span {
  background: #ffffff;
  color: white;
}

.main.heating-room #current-temp-knob span {
  background: #ffffff99;
}

.main.heating-room #set-temp-to {
  color: #FF9800;
}

.main.heating-room #set-temp-to:before {
  content: "HEAT SET TO";
}
.onoffswitch {
    position: relative;
    width: 119px;
    margin: auto;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select: none;
    margin-top: 30px;
    display: none !important;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    height: 46px;
    padding: 0;
    line-height: 46px;
    border: 2px solid #e7e7e7;
    border-radius: 46px;
    background-color: rgb(251, 251, 251);
    transition: background-color 0.3s ease-in;
}
.onoffswitch-label:before {
    content: "";
    display: block;
    width: 46px;
    margin: 0px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 71px;
    border: 2px solid #d8d8d8;
    border-radius: 46px;
    transition: all 0.3s ease-in 0s;
    box-shadow: 0px 2px 3px #d8d8d8;
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #FF9900;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
   border-color: #ff803f;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 0px;
}

#knob-container {
  position: relative;
  background-image: url(/images/circleTicks.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 51% 54%;
  /* padding: 18px 0px; */
  height: 190px;
  /* padding-top: 19px; */
  background-image: none;
  height: 100px;
}

#current-temp-knob {
  position: absolute;
  left: 0px;
  right: 0px;
  z-index: 9;
  background: none;
  pointer-events: none;
  border: none;
  box-shadow: none;
  background: #ffffff;
  z-index: 0;
}

#current-temp-knob span {
  background: #E0E0E0;
  height: 20px;
  top: -2px;
  color: #e0e0e0;
  width: 8px;
}

#control-knob {
  background: none;
  z-index: 1;
}

#set-temp-to {
  position: absolute;
  margin: auto;
  left: 0px;
  right: 0px;
  font-size: 5.4rem;
  font-weight: 400;
  pointer-events: none;
}

#set-temp-to:before {
  content: "HEAT SET TO";
  font-size: 11px;
  font-weight: 900;
  position: absolute;
  top: -10px;
  width: 80px;
  text-align: center;
  margin: auto;
  left: 0px;
  right: 0px;
}

.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, [col] 23%);
  grid-template-rows: repeat(auto-fill, [row] auto);
  background-color: #fff;
  color: #444;
}

.box {
  /* background-color: #444; */
  color: inherit;
  border-radius: 5px;
  padding: 10px 0px 20px;
  font-size: 150%;
}

.a {
  grid-column: col / span 2;
  grid-row: row;
}

.b {
  grid-column: col 3 / span 2;
  grid-row: row;
}

.c {
  grid-column: col;
  grid-row: row 2;
}

.d {
  grid-column: col 2 / span 3;
  grid-row: row 2;
}

.e {
  grid-column: col / span 4;
  grid-row: row 3;
  text-align: center;
  margin-top: 0;
}

.f {
  grid-column: col / span 4;
  grid-row: row 4;
  text-align: center;
  margin-top: -1rem;
}

.f .label {
  color: #404040;
  border-top: ;
  font-weight: 700;
}

.g {
  grid-column: col / span 4;
  grid-row: row 5;
  text-align: center;
  margin-top: -1rem;
}

body.visual {
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 500% 500%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
  color: white;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

body.visual div {
  color: white;
}

body.visual div:not(.climate-card) .climate-display {
  /* bottom:10vh; */
  font-size: 4vh;
  background: none;
  /* min-height:20vh; */
  box-shadow: none;
  height: auto;
  font-weight: 100;
  z-index: 1000000;
}

body.visual .climate-display:before {
  display: none;
  background: none !important;
}

body.visual .climate-display:after {
  display: none;
  background: none !important;
}

body.visual .app-top-bar {
  background-color: #ffffff00;
  box-shadow: none;
}

body.visual .pd-info[name="classID"] {
  color: white;
}
body.visual .pd-info[name="classDuration"]{
  background:#ffffff40;
}

body.visual #pause-class-btn {
  background-color: white;
  color: black;
  border-color: white;
  box-shadow: 0px 1px 1px 0px rgba(255, 255, 255, .3);
  min-width: 20%;
  height: 60px;
  max-width: 480px;
  max-width: 420px;
  height: 63px;
  bottom: 52px;
}

body.visual.top-bar-menu.top-bar-back.top-bar-neutral .top-app-bar-title {
  color: white;
}

.app-top-bar {
  background-color: white;
  color: black;
  z-index: 10000;
  transition: background-color .5s 0s;
  /* box-shadow: 0px -2px 0px -1.5px #BDBDBD inset; */
  box-shadow: 0px -2px 0px -1.5px #E0E0E0 inset;
}

.main {
  display: block;
  position: relative;
  height: calc(100vh - 56px);
  /* top: 56px; */
  height: calc(100vh - 40px) !important;
}

.navigation {
  position: fixed;
  left: 0px;
  right: 0px;
  width: 100%;
  margin: auto;
  transition: bottom .15s 0s;
  height: 50px;
  background-color: white;
  z-index: 9999999;
  transition: bottom .15s 0s;
  box-shadow: 0px -3px 0px -2px #EEEEEE;
  height: 5.556vh;
  min-height: 70px;
  touch-action: auto;
}

.navigation .mdc-tab-indicator__content--underline {
  align-self: flex-start;
  background-color: rgb(52, 184, 245);
}


.navigation .mdc-tab__ripple{
  display:none;
}
.navigation .mdc-tab-indicator .mdc-tab-indicator__content--underline{
  border-color: #03A9F4;
}

body.dark .navigation .mdc-tab-indicator__content--underline {
  background-color: #2196F3;
}

body.dark .mdc-tab--active .mdc-tab__text-label, .mdc-tab--active .mdc-tab__icon {
  color: #03a9f4 !important;
}

.main.nav-disabled .navigation {
  bottom: -56px;
}

body .navigation .mdc-tab {
  height: 70px !important;
}

.main.nav-disabled.nav-enabled .navigation {
  bottom: 0px;
}

.main.nav-disabled {
  height: 100vh;
  transition: height .15s 0s;
}

.main.nav-disabled.nav-enabled {
  height: 100vh;
}

.main.nav-disabled .navigation {
  bottom: -10vh;
}

.main.nav-disabled.nav-enabled .navigation {
  bottom: 0vh;
  z-index: 10000;
  pointer-events: all;
}

.navigation.disabled {
  bottom: 0px;
}

.navigation.disabled.enabled {}

.screen {
  text-align: left;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100%;
  right: 0px;
  background-color: inherit;
  text-align: unset;
  overflow: hidden;
  /* padding: 8px 8px; */
  overscroll-behavior: none;
}
.screen_inner{
  height: calc(100vh - 56px);
  padding-top: 56px;
}
.screen.disabled {
  z-index: 0;
  opacity: 0;
  pointer-events: none;
}

.screen.disabled.enabled {
  z-index: 10;
}

.screen[data-name="list"] {
  background: #f9f9f9;
  background: #fdfdfd;
  overflow-y: scroll;
  overflow: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch !important;
}

.screen[data-name="loading"] {
  z-index: 100000 !important;
  background-color: white;
  position: fixed;
  /* top: -56px; */
  min-height: 100vh;
}

.loading-visual {
  margin: auto;
  top: 20%;
  position: relative;
  margin: auto;
  top: 20%;
  position: relative;
  left: 0px;
  right: 0px;
  width: auto;
  height: auto;
  text-align: center;
  top: unset;
  height: 896px;
  background: url(/controller/images/spinning-custom-loader.gif);
  background-position: center;
  overflow: hidden;
  top: -56px;
  background-size: 20%;
  background-repeat: no-repeat;
  background-color: #2b2b2b;
  height: calc(100% + 56px);
}

.loading-visual img {
  width: 90%;
  height: auto;
  margin: auto;
  margin-top: 19vh;
  display: none;
  position: relative;
}

.class-list {
  /* overflow: scroll; */
  height: auto;
  /* overflow-x: auto; */
}

#class-list {
  /* padding-bottom: 500px; */
  /* min-height:100vh; */
  /* height:auto; */
}

.class-list button {
  width: 100%;
  margin: 5% 0%;
  animation: ;
}

/* Class cards */
.class-card {
  padding: 16px;
  margin: 24px -4px;
  border-radius: 3px;
  box-shadow: 0px 2px 0px -2px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 4px 15px 0px hsla(0, 0%, 17%, 0.12);
  transition: none;
  margin: 20px 0px;
  font-size: 1rem;
  border: 1px solid #ececec;
  min-height: 208px;
}

.class-card_headline {
  margin-top: 0px;
  margin-bottom: 0px;
  /* font-weight: 400; */
  font-size: 16px;
  font-size: 1rem;
}

.class-card_subtitle {
  text-align: left;
  margin-top: -4px;
  padding-top: 0px;
  font-size: 12px;
  letter-spacing: 0.15;
  color: gray;
  font-size: .67rem;
}

.class-card_media {
  display: none;
}

.mdc-card__primary-action {
  padding: 4px 12px;
  pointer-events: none;
}

.class-card .mdc-card__actions {
  display: none;
}

.class-card .mdc-typography--body2 {
  font-size: 13px;
  color: gray;
  font-size: .72rem;
}

.flatpickr-calendar{
  z-index: 10000 !important;
}

.schedule-card{
  text-align: left;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100%;
  right: 0px;
  background-color: white;
  text-align: unset;
  overflow-y: hidden;
  /* padding: 8px 24px; */
  z-index: 100000;
opacity: 1;
}
#schedule-close-button{
  color: black;
  font-size: 25px;
      margin: 8px;
}

.schedule-card.disabled{
  top:110%;
  transition: top .25s 0s;
  pointer-events: none;
}
.schedule-card.disabled.enabled{
  top:0%;
  pointer-events: all;
}

.full-card {
  text-align: left;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100%;
  right: 0px;
  background-color: white;
  text-align: unset;
  overflow-y: hidden;
  /* padding: 8px 24px; */
  z-index: 100;
  opacity: 0;
  pointer-events: none;
}

.full-card-overlay {
  text-align: left;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100%;
  right: 0px;
  background-color: black;
  text-align: unset;
  overflow-y: hidden;
  /* padding: 8px 19px; */
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
}

.full-card_content {

  margin: 24px;
  white-space: nowrap;
  margin-top: 86px;
}

.full-card_actions {
  position: absolute;
  width: auto;
  right: 0px;
  left: 0px;
  margin: 0px 24px;
}

.full-card .label {
  color: #8a8a8a;
}

.full-card .info-box {
  display: flex;
}

.full-card .one {
  flex: 1;
}

.full-card .two {
  flex: 1;
}

.full-card .three {
  flex: 1;
}

.data-info[info="classID"] {}

.data-info[info="instructorName"] {
  text-align: left;
  padding-top: 0px;
  font-size: 16px;
  letter-spacing: 0.15;
  color: #808080;
  margin-bottom: 32px;
}

.data-info[info="duration"] {
  font-size: 16px;
}

.data-info[info="status"] {
  font-size: 15px;
  text-transform: uppercase;
}

.data-info[info="rating"] {
  font-size: 16px;
}

.data-info[info="intention"] {}

.data-info[info="description"] {
  white-space: normal;
  top: 20px;
  position: relative;
}

/* Dark mode */
body.dark div, body.dark span {
  background: #212121;
  color: white !important;
  border-color: #000000;
  /* background: inherit; */
}

body.dark .class-card {
  border-radius: 0px;
  box-shadow: none;
  border-color: #000000;
  background: #252525;
}

body.dark .mdc-card__primary-action:first-child, body.dark .mdc-card__primary-action div {
  background: inherit;
}

body.dark #top-app-btn-back {
  color: #FAFAFA !important;
}

body.dark .mdc-button--raised:not(:disabled), .mdc-button--unelevated:not(:disabled) {
  background: rgb(255, 255, 255);
  color: #2196F3;
}
body.dark #start-class-btn{
  color:white;
  box-shadow: 0px 0px 0px 1px white;
}
/* end dark mode styling */
.full-card .start-button {
  min-width: 49%;
  display: inline-block;
  width: 98%;
  margin: auto;
  min-height: 48px;
  font-weight: 600;
}

.full-card .schedule-button {
  min-width: 49%;
  margin-top: 0px;
  cursor: not-allowed;
}

.portal-display {
  text-align: left;
  font-size: 25px;
  line-height: 40px;
  font-weight: 300;
  padding: 19px;
  margin-bottom: 20px;
  /* height: 76vh; */
}

.screen[data-screen-title="Portal"] {
  /* margin-top: calc(100% - 310px); */
  /* background: white; */
}

.screen[data-screen-title="Portal"] .portal-display {
  text-align: center;
  margin-top: calc(50px + 5vh);
}

.pd-info {}

.pd-info[name="state"] {
  font-size: 1.7rem;
  text-transform: capitalize;
  letter-spacing: .5px;
}

.pd-info[name="classID"] {
  font-weight: 400;
  /* color: #929292; */
  margin-top: 72px;
  margin-bottom: 48px;
  font-size: 4.6rem;
  letter-spacing: 1.15px;
  font-weight: 300;
}

.pd-info[name="classDuration"] {
  /* font-weight: 500; */
  font-size: 17px;
  /* color: #b1b1b1; */
  font-size: 1rem;
  background: #00d8fb;
  max-width: fit-content;
  margin: auto;
  padding: 0px 15px;
  border-radius: 43px;
  color: white;
  font-weight: 500;
  font-size: 15px;
  padding-top: 0px;
  line-height: 29px;
}

.pd-info[name="classProgress"] {
  display: none;
}

.pd-info[name="nextClassCountdown"] {
  display: none;
}

.pd-info[name="classSchedule"] {}

.portal-live-controls {
  display: block;
  white-space: nowrap;
  position: absolute;
  bottom: 200px;
  margin: auto;
  left: 0px;
  right: 0px;
}

.portal-live-controls button {
  display: block;
  margin: 5% 20px;
  margin: auto;
  width: 87%;
  /* width: 130px; */
  margin-top: 5%;
  height: 48px;
}

#start-class-btn{
  /*
  background: none;
  box-shadow: 0px 0px 0px 1px #E0E0E0 inset;
  color: black;
  margin-bottom: 24px;
  display: inline-block;
  width: 42%;
  left: 26px;
  */
  max-width: 420px;
  height: 63px;
  font-size: 21px;
}

.portal-live-controls button.secondary-btn {
  background-color: #212121;
}

.mdc-menu-surface--open {
  z-index: 9999999;
  margin-left: 0%;
  width: 200px;
  text-align: right;
}

.mdc-select:not(.mdc-select--disabled).mdc-select--focused .mdc-floating-label {
  color: #000;
  /* left: 6px; */
  /* top: 17px; */
  /* top: 21px; */
}

.mdc-select:not(.mdc-select--disabled) .mdc-select__native-control, .mdc-select:not(.mdc-select--disabled) .mdc-select__selected-text {
  border-bottom-color: rgba(0, 0, 0, 0);
}

.mdc-select:not(.mdc-select--disabled) .mdc-floating-label {
  text-transform: uppercase;
  font-size: 12px;
}

.mdc-select:not(.mdc-select--disabled) .mdc-floating-label {}

.mdc-select:not(.mdc-select--disabled).mdc-select--focused .mdc-line-ripple {
  background: none;
}

.mdc-select--focused .mdc-select__dropdown-icon {
  color: black;
  --mdc-theme-primary: #000;
}

.mdc-select:not(.mdc-select--disabled) {
  /* background: #f6f6f6; */
  opacity: 1;
}

.mdc-select:hover::before {
  background: none;
}

#start-delay-btn {
  /* max-width: 140px; */
  display: block;
  border: none;
  box-shadow: none;
  /* padding: 0px; */
  /* height: 36px; */
  background: none;
  margin: auto;
  margin-top: 35px;
  margin: 0px 0px;
  display: inl;
  display: inline-block;
  width: 42%;
  margin-top: 5%;
  float: left;
  left: 16px;
  max-width: unset;
  width: auto;
  display: block;
  margin: auto;
  float: unset;
  left: 0px;
  width: 200px;
  top: 40px;
  border: 1px solid hsla(0, 0%, 65%, 1);
  border-radius: 3px;
}

#toggle-lock-state-btn {
  height: 100%;
  width: 60px;
}

#cancel-start-class-delay-btn {
  position: absolute;
  margin: auto;
  display: block;
  bottom: 53%;
  top: unset;
  left: unset;
  float: unset;
  right: 0px;
  left: 0px;
  color: black;
  width: 115px;
  background: white;
}

#delay-countdown-graphic {
  position: absolute;
  height: 100%;
  left: 0px;
  width: 100%;
  background: #616161;
  top: 0px;
}

#delay-countdown {
  position: absolute;
  top: 0px;
  text-align: center;
  background: blue;
  width: 100%;
  left: 0px;
  right: 0px;
  height: 100%;
  bottom: 0px;
  color: white;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  /* background-size:500% 500%; */
  /* -webkit-animation: Gradient 15s ease infinite; */
  -moz-animation: Gradient 15s ease infinite;
  /* animation: Gradient 15s ease infinite; */
  color: white;
  display: none;
  float: unset;
  background: #f6f6f6;
}

#delay-countdown_inner {
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: 9999999999;
}

#delay-countdown #runner {
  font-size: 4.54em;
  font-weight: 100;
  position: absolute;
  top: 20%;
  left: 0px;
  right: 0px;
  color: black;
  opacity: 0;
}

.load-class-progress {
  max-width: 59%;
  margin: auto;
  padding: 0px 24px;
  margin-top: 20%;
  width: 150%;
  /* height: 20px; */
  margin-bottom: -63px;
}

.load-class-progress .mdc-linear-progress {
  width: unset;
}

.mdc-list.control-list{

}

.mdc-list.control-list li button{
  margin: unset;
  text-align: left;
  font-size: inherit;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
}
.mdc-list .mdc-list-item.list-title{
    pointer-events: none;
    width: 100%;
    font-weight: 600;
}


.screen-info{position: fixed;height: 100%;width: 100%;left: 0px;right: 0px;background: white;color: #424242;top: 0px;z-index: 1000;padding: 54px 0px;text-align: center;font-size:24px;transition: top .15s 0s;}
.screen-info.disabled{top: 100%;}
.screen-info.disabled.enabled{top: 0%;}

.info-header{
margin-top:20%;
margin-bottom:250px;
}
.countdown-value{
  font-size:50px;
    color: #03A9F4;
}


.list-with-switches{
  width: auto;
grid-column-end: span 12;
}
