:root {
  --mdc-theme-primary: #000000;
  --mdc-theme-secondary: #676767;
  --mdc-theme-background: #fff;
}
html{

}
body{color:black;background-color: white;padding: 0px;margin: 0px;font-family: Roboto;overflow: hidden;user-select: none;background-color: #f6f6f6;}
body div{
  /* color:inherit; */
  /* background-color: inherit; */
}

body.top-bar-menu{}
body.top-bar-back{}
body.top-bar-neutral{}

.top-app-bar-title{
  font-size: .8em;color: #000;text-transform: uppercase;letter-spacing: 0.1em;
  font-weight:600;

}

/* When top app bar is on screen with no back button or menu*/
body.top-bar-menu.top-bar-back.top-bar-neutral #top-app-btn-menu,
body.top-bar-menu.top-bar-back.top-bar-neutral #top-app-btn-back{
display: none;
}
body.top-bar-menu.top-bar-back.top-bar-neutral .top-app-bar-title{
  }
body.top-bar-menu.top-bar-back{

}
.app-top-bar{background-color: white;color: black;z-index: 9999;}

.main{
  display:block;
  position: relative;
  height: calc(100vh - 56px);
  top: 116px;
}
.navigation{
  position:fixed;
  left:0px;
  right:0px;
  width:100%;
  margin:auto;
  transition:bottom .15s 0s;
  height:50px;
  background-color: white;
  z-index: 9999999;
  transition:bottom .15s 0s;
}
.main.nav-disabled .navigation{
  bottom:-56px;
}
.main.nav-disabled.nav-enabled .navigation{
  bottom:0px;
}
.main.nav-disabled{

height:100vh;
transition:height .15s 0s;
}
.main.nav-disabled.nav-enabled{
  height: 100vh;
}
.main.nav-disabled .navigation{
  bottom:-10vh;
}
.main.nav-disabled.nav-enabled .navigation{
  bottom:0vh;
  z-index: 10000;
  pointer-events: all;
}
.navigation.disabled{
    bottom:0px;

}
.navigation.disabled.enabled{

}

.screen{
  text-align: left;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: calc(100% - 16px);
  right:0px;
  background-color: inherit;
  text-align: unset;
  overflow-y: hidden;
  padding: 8px 8px;
}
.screen.disabled{
z-index: 0;
opacity: 0;
pointer-events: none;
}
.screen.disabled.enabled{
z-index: 10;
}


.screen[data-name="loading"]{
  z-index: 100000 !important;
  background-color: white;
}

.loading-visual{
  margin:auto;
  top: 20%;
  position: relative;
  margin: auto;
  top: 20%;
  position: relative;

  left: 0px;
  right: 0px;
  width: auto;
  height: auto;

  text-align: center;
}
.class-list{
  overflow: scroll;
  height: 60%;
  overflow: hidden !important;
}

#class-list{
  /* padding-bottom: 500px; */
  /* min-height:100vh; */
  /* height:auto; */
}
.class-list button{
  width: 100%;
  margin: 5% 0%;
  animation:;
}

/* Class cards */
.class-card{padding: 16px;margin: 24px -4px;border-radius: 0px;box-shadow: 0px 2px 0px -2px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 4px 15px 0px hsla(0, 0%, 17%, 0.12);transition: none;}

.class-card_headline{margin-top: 0px;}
.class-card_subtitle{
  text-align:left;
  margin-top: -4px;
  padding-top: 0px;
}

.class-card_media{
  display:none;
}

.mdc-card__primary-action{
 padding:8px;
 pointer-events: none;
}

.class-card .mdc-card__actions{
  display:none;
}

.full-card{
  text-align: left;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: calc(100% - 16px);
  right:0px;
  background-color: white;
  text-align: unset;
  overflow-y: hidden;
  padding: 8px 8px;
  z-index: 100;
  opacity:0;
  pointer-events: none;
}
